<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- Processed by MarkdownPlus. Edit the markdown doc not the the HTML -->
	${head}
	<link rel="stylesheet" type="text/css" href="../href/doc.css" /> 
</head>
<body>
<div class="frontcover">
<div class="vertical-align">
<h1>${title}</h1>
<h2>${subtitle}</h2>
<br/>
<h4>${author}</h4>
<h4>${website}</h4>
<p>${description}</p>
</div>
</div>

<div class="screen-title">
<h1>${title}</h1>
<p>${subtitle} - ${author}</p>
</div>

<div class="toc" id="toc">
<h1>Table of Contents</h1>
${toc}
</div>

	${body}
</body>
</html>